[submodule "EDUCATApp"]
	path = EDUCATApp
	url = https://github.com/MathieuT-dot/EDUCATApp.git
[submodule "RegautAndroidLibrary"]
	path = RegautAndroidLibrary
	url = https://github.com/MathieuT-dot/RegautAndroidLibrary.git
[submodule "laravel_framework"]
	path = laravel_framework
	url = https://github.com/DimitriDeSchuyter/educat_laravel_framework.git
[submodule "educat_laravel_framework"]
	path = educat_laravel_framework
	url = https://github.com/DimitriDeSchuyter/educat_laravel_framework.git
[submodule "EDUCAT-Data-Visualization"]
	path = EDUCAT-Data-Visualization
	url = https://github.com/DimitriDeSchuyter/EDUCAT-Data-Visualization.git
